/* Reseting default settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Header style */

header {
    background-color: #5f27cd;
    padding: 16px 0px;
    color: #fff;
    display: flex;
    justify-content: center;
    border-bottom: 16px solid #341f97;
    text-transform: uppercase;
    font-style: italic;
    box-shadow: 0px 2px 10px black;
}

header button  {
    margin-left: 16px;
}

/* Form style */

form {
    background-color: #c8d6e5;
    padding: 24px 0px;
    text-align: center;
    box-shadow: 5px 0px 5px black;
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

input, button {
    padding: 8px;
    border-radius: 5px;
}

input {
    border: 1px solid black;
    outline: none;
}

button {
    background-color: #009432;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

#button-cancel {
    background-color: red;
}

#button-add:hover {
    background-color: #35a159;
}

#button-cancel:hover {
    background-color: rgb(241, 76, 76);
}

/* Body > ul style */

ul {
    max-width: 1200px;
    margin: 24px auto;
    align-items: start;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

ul li {
    max-width: 30%;
    list-style: none;
    position: relative;
    max-height: 320px;
    cursor: pointer;
    margin-bottom: 24px;
    margin-right: 20px;
    margin-left: 20px;
}

ul li img {
    width: 360px;
    height: 250px;
}

.overlay-image-link {
    padding: 16px;
    background-color: rgba(0, 0, 0, 70%);
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    opacity: 0;
}

ul li:hover .overlay-image-link {
    opacity: 1;
    transition: all .55s ease;
    cursor: pointer;
}

.overlay-image-link a {
    text-decoration: none;
    color: #fff;
}

.overlay-image-link a:hover {
    border-bottom: 1px solid #fff;
}

